.container {
    background-color: #2F2E2E;
    height: 92vh;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84%;
    padding: 20px;
}

.userInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

h2.title {
    color: #ED5003 !important;
}

label {
    margin-right: 5px;
}

input {
    width: inherit;
}