<div class="container">
    <app-header></app-header>

    <div class="infoContainer">
        <h2 class="title">INFORMACIÓN DE USUARIO</h2>
        <br>
        <div class="userInfo" *ngIf="usuario | async as u">

            <table class="table table-dark">
                <tbody >
                  <tr *ngIf="usuario | async as u">
                    <td>Nombre:</td>
                    <td>{{u.name}}</td>
                  </tr>
                  <tr>
                    <td>Usuario:</td>
                    <td>{{u.user}}</td>
                  </tr>
                  <tr>
                    <td>Correo:</td>
                    <td>{{u.email}}</td>
                  </tr>
                  <tr>
                    <td>Contraseña:</td>
                    <td>{{u.password}}</td>
                  </tr>
                  <tr>
                    <td>Tipo Usuario:</td>
                    <td>{{u.typeUser}}</td>
                  </tr>
                  <tr>
                    <td>Perfil:</td>
                    <td>{{information.info}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>