<div class="container">
    <div class="loginContainer">
        <h2 class="title">MobieraApp</h2>
        <div class="subLoginContainer">
            <div class="containerImg">
                <img src="./../../../assets/user.png" alt="userImg">
            </div>
            <form #f="ngForm" (ngSubmit)="sendData(f)" validate>
                <div class="input-group m-2">
                    <input placeholder="User Name" class="form-control" type="text" ngModel name="userName" required>
                </div>
                <div class="input-group m-2">
                    <input placeholder="Password" class="form-control" type="password" ngModel name="password"  required>
                </div>
                <button class="btn btn-success">Login</button>

                <div *ngIf="user | async as p">
                    <h2>{{ p.user }}</h2>
                    <h2>{{ p.email }}</h2>
                    <h2>{{ p.name }}</h2>
                    <h2>{{ p.password }} </h2>
                    <h2>{{ p.typeUser }}</h2>
                </div>
            </form>
        </div>
    </div>
</div>
